# configurações do projeto
.idea/
nbproject/
.vscode/

# configurações do Banco
config/config.ini
assets/database/Conexao.php

# instalação de dependências e pacotes.
composer.lock
package-lock.json

# biblitoecas do projeto
vendor/